# Top-most EditorConfig file
root = true

# Normally these kind of settings aren't important. However,
# Because we use files for validating tests we enforce tabs and line-endings to make the tests run everywhere.
[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[markdown]
trim_trailing_whitespace: false
insert_final_newline = true
[*.md]
trim_trailing_whitespace: false
insert_final_newline = true
[*.{yml,yaml}]
indent_style = space
indent_size = 2
[*.cs]
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = error
dotnet_sort_system_directives_first = false
dotnet_separate_import_directive_groups = true

# Default severity for analyzer diagnostics with category 'Roslynator'
dotnet_analyzer_diagnostic.category-Roslynator.severity = silent
